/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* Enable scrolling, hide scrollbar */
html, body {
  overflow: scroll; /* Enable scrolling */
}

/* Hide scrollbar in WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
body {
  scrollbar-width: none;
}